.container {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

.header {
  position: relative;
  background: url("/background.jpg") no-repeat center center/cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
}

.main {
  padding: 2rem;
}

.about,
.services,
.testimonials,
.projects,
.contact {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 5px;
  background: #f9f9f9;
}

.about h2,
.services h2,
.testimonials h2,
.projects h2,
.contact h2 {
  color: #333;
}

.about h2 {
  text-align: center; /* Κεντράρισμα του τίτλου */
}

.services ul {
  list-style-type: none;
  padding: 0;
}

.services li {
  background: #eaeaea;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 5px;
}

.testimonials p,
.projects .project {
  margin: 1rem 0;
}

.project {
  background: #eaeaea;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 5px;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  background: #f1f1f1;
}
